#column1 {
  vertical-align: top;
  width: 50%;
}
#column2 {
  vertical-align: top;
  width: 50%;
}

.box {
  margin: 2mm;
  padding: 2mm;
  background: #ccc;
}
#column1 .box {
  margin-right: 1mm;
}
#column2 .box {
  margin-left: 1mm;
}

#name {
  font-size: 200%;
  vertical-align: top;
  line-height: 85%;
  padding: 2mm;
}

#levelAndClass {
  vertical-align: top;
  text-align: right;
  font-size: 120%;
  padding-right: 2mm;
  padding-top: 2mm;
}

#mainInfo .stats, #combat .stats {
  table-layout: fixed;
  padding-top: 1.5mm;
}
#mainInfo .stat, #combat .stat {
  text-align: center;
  background: #eee;
  padding: 2mm;
  font-size: 80%;
  width: auto;
}
#mainInfo .space, #combat .space {
  width: 2mm;
}
#mainInfo .stat>span, #combat .stat>span {
  font-size: 200%;
  text-align: right;
}

#combat {
  text-align: center;
}
#combat:first-line {
  font-size: 120%;
  font-weight: bold;
}

#resistances table {
  margin-top: 2mm;
  padding: 2mm;
  background: #eee;
}
#resistances table tr:nth-child(even) {
  background: #ccc;
}
#resistances table th {
  font-size: 120%;
}

.resistance .name {
  text-align: left;
  padding: 1mm;
  padding-left: 4mm;
}

.resistance .score {
  text-align: center;
}

#characteristics tr:nth-child(even) {
  background: #eee;
}
#characteristics th {
  font-size: 120%;
}

.characteristic .name {
  text-align: left;
  width: 50%;
  padding: 1mm;
  padding-left: 4mm;
}

.characteristic .score {
  text-align: center;
}

.characteristic .modifier {
  text-align: center;
}

#secondaryAbilities caption {
  background: #ccc;
  font-size: 120%;
  font-weight: bold;
}

#secondaryAbilities .category {
  background: #eee;
  padding: 2mm;
  margin-top: 2mm;
}
#secondaryAbilities .category th {
  vertical-align: top;
}
#secondaryAbilities .category th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 4mm;
  padding-bottom: 2mm;
  font-weight: bold;
}
#secondaryAbilities .category tr:nth-child(even) {
  background: #ccc;
}
#secondaryAbilities .category td {
  padding: 1mm 4mm;
}
#secondaryAbilities .category .score {
  text-align: center;
  width: 10mm;
}

#advantages {
  text-align: center;
}
#advantages:first-line {
  font-size: 120%;
  font-weight: bold;
}

.advantageList {
  background: #eee;
  padding: 2mm;
  margin-top: 2mm;
}
.advantageList th {
  vertical-align: top;
}
.advantageList th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 4mm;
  padding-bottom: 2mm;
  font-weight: bold;
}
.advantageList tr:nth-child(even) {
  background: #ccc;
}
.advantageList td {
  padding: 1mm 4mm;
}
.advantageList .cost {
  text-align: center;
  width: 10mm;
}

#psychic {
  text-align: center;
}
#psychic:first-line {
  font-size: 120%;
  font-weight: bold;
}

#mainPsychicInfo {
  padding: 2mm;
  margin-top: 2mm;
  background: #eee;
}
#mainPsychicInfo td {
  padding: 1mm;
  padding-left: 4mm;
}
#mainPsychicInfo tr:nth-child(even) {
  background: #ccc;
}
#mainPsychicInfo .score {
  text-align: right;
}

.discipline {
  padding: 2mm;
  background: #eee;
  margin-top: 2mm;
}
.discipline th:first-child {
  padding: 2mm;
  padding-top: 0mm;
  font-weight: bold;
  font-size: 110%
}
.discipline th {
  font-size: 70%;
}
.discipline td {
  padding: 1mm;
}
.discipline tr:nth-child(even) {
  background: #ccc;
}
.mentalPower td:hover {
  cursor: help;
}
.mentalPower .name {
  text-align: left;
  padding-left: 4mm;
  width: 100%;
}
.mentalPower .action, .mentalPower .maintainable, .mentalPower .bonus {
  width: 10mm;
  text-align: center;
}

#mentalPowerPopup {
  background: #eee;
  padding: 2mm;
}
#mentalPowerPopup .name {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2mm;
}
#mentalPowerPopup .description {
  margin-bottom: 2mm;
  margin-left: 3mm;
  margin-right: 3mm;
  font-size: 80%;
}


#mentalPowerPopup .effect:nth-child(even) {
  background: #ccc;
}
#mentalPowerPopup .effect td {
  padding: 1mm;
  padding-left: 4mm;
}

#exportButton {
  margin: 0mm 2mm 2mm 2mm;
  padding: 4mm;
  background: #ccc;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #000;
}
#exportButton:hover {
  background: #aaa;
  cursor: pointer;
}

.percentile {
  font-size: 50%;
}