#content>table {
  table-layout: fixed;
}

.column {
  vertical-align: top;
}
.column:first-child {
  padding-left: 0.25rem;
}
.column:last-child {
  padding-right: 0.25rem;
}

.box {
  margin: 0.5rem 0.25rem;
  padding: 0.5rem;
  background: #ccc;
}
#name {
  font-size: 200%;
  vertical-align: top;
  line-height: 85%;
  padding: 0.5rem;
}

#levelAndClass {
  vertical-align: top;
  text-align: right;
  font-size: 120%;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.stats {
  table-layout: fixed;
  padding-top: 0.5rem;
}
.stat {
  text-align: center;
  background: #eee;
  padding: 0.5rem;
  font-size: 80%;
  width: auto;
}
.space {
  width: 0.5rem;
}
.stat>span {
  font-size: 200%;
  text-align: right;
}

#combat {
  text-align: center;
}
#combat:first-line {
  font-size: 120%;
  font-weight: bold;
}

#resistances table {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: #eee;
}
#resistances table tr:nth-child(even) {
  background: #ccc;
}
#resistances table th {
  font-size: 120%;
}

.resistance .name {
  text-align: left;
  padding: 0.25rem;
  padding-left: 1rem;
}

.resistance .score {
  text-align: center;
}

#characteristics tr:nth-child(even) {
  background: #eee;
}
#characteristics th {
  font-size: 120%;
}

.characteristic .name {
  text-align: left;
  width: 50%;
  padding: 0.25rem;
  padding-left: 1rem;
}

.characteristic .score {
  text-align: center;
  padding-right: 0.5rem;
}

.characteristic .modifier {
  text-align: center;
}

#secondaryAbilities caption {
  background: #ccc;
  font-size: 120%;
  font-weight: bold;
}

#secondaryAbilities .category {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#secondaryAbilities .category th {
  vertical-align: top;
}
#secondaryAbilities .category th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
#secondaryAbilities .category tr:nth-child(even) {
  background: #ccc;
}
#secondaryAbilities .category td {
  padding: 0.25rem 1rem;
}
#secondaryAbilities .category .score {
  text-align: center;
  width: 2.5rem;
}

#advantages {
  text-align: center;
}
#advantages:first-line {
  font-size: 120%;
  font-weight: bold;
}

.advantageList {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.advantageList th {
  vertical-align: top;
}
.advantageList th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.advantageList tr:nth-child(even) {
  background: #ccc;
}
.advantageList td {
  padding: 0.25rem 1rem;
}
.advantageList .cost {
  text-align: center;
  width: 2.5rem;
}

#psychic {
  text-align: center;
}
#psychic:first-line {
  font-size: 120%;
  font-weight: bold;
}

#mainPsychicInfo {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: #eee;
}
#mainPsychicInfo td {
  padding: 0.25rem;
  padding-left: 1rem;
}
#mainPsychicInfo tr:nth-child(even) {
  background: #ccc;
}
#mainPsychicInfo .score {
  text-align: right;
}

.discipline {
  padding: 0.5rem;
  background: #eee;
  margin-top: 0.5rem;
}
.discipline th:first-child {
  padding: 0.5rem;
  padding-top: 0rem;
  font-weight: bold;
  font-size: 110%
}
.discipline th {
  font-size: 70%;
}
.discipline td {
  padding: 0.25rem;
}
.discipline tr:nth-child(even) {
  background: #ccc;
}
.mentalPower td:hover {
  cursor: help;
}
.mentalPower .name {
  text-align: left;
  padding-left: 1rem;
  width: 100%;
}
.mentalPower .action, .mentalPower .maintainable, .mentalPower .bonus {
  width: 2.5rem;
  text-align: center;
}

.popup {
  background: #ccc;
  padding: 0.5rem;
  min-width: 20rem;
}
#mentalPowerPopup .name, #equipmentPopup .name {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
#mentalPowerPopup .description, #equipmentPopup .description {
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 80%;
}


#mentalPowerPopup .effect:nth-child(even) {
  background: #eee;
}
#mentalPowerPopup .effect td {
  padding: 0.25rem;
  padding-left: 1rem;
}

.bottomButton {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
  background: #ccc;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #000;
}
.bottomButton:hover {
  background: #aaa;
  cursor: pointer;
}

.percentile {
  font-size: 50%;
}

#equipmentList {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
  table-layout: fixed;
}
#equipmentList th {
  vertical-align: top;
}
#equipmentList th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
#equipmentList tr:nth-child(even) {
  background: #ccc;
}
#equipmentList .name {
  text-align: left;
  padding: 0.5rem 1rem;
}

.equipment td.action, .equipment th.action {
  width: 1.5rem;
  padding-right: 0.5rem;
}
.equipment div.action {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  display: table;
  background: #aaa;
}
.equipment div.action:hover {
  background: #bbe;
  cursor: pointer;
}
.equipment div.action>span {
  display: table-cell;
  vertical-align: middle;
}

#armorTypes {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#armorTypes th {
  vertical-align: top;
}
#armorTypes th:first-child {
  background: #eee;
  font-size: 110%;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
#armorTypes tr:nth-child(even) {
  background: #ccc;
}
#armorTypes td {
  padding: 0.25rem 1rem;
}
#armorTypes .score {
  text-align: center;
  width: 2.5rem;
}

.equipment:hover {
  cursor: help;
}

#equipmentPopup .mainStats {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#equipmentPopup .mainStats td, #equipmentPopup .mainStats th {
  text-align: center;
  padding: 0rem 0.5rem;
}

#equipmentPopup .details {
  background: #eee;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#equipmentPopup .details td, #equipmentPopup .details th {
  text-align: left;
  padding: 0.25rem;
}
#equipmentPopup .details td:last-child, #equipmentPopup .details th:last-child {
  text-align: center;
}
#equipmentPopup .details tr:nth-child(even) {
  background: #ccc;
}

#newEquipment {
  background: #aaa;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  padding: 0.25rem;
  margin-top: 0.5rem;
}
#newEquipment:hover {
  cursor: pointer;
  background: #888;
}

#newEquipmentPopup>table th {
  padding: 0.25rem 0.5rem;
}
#newEquipmentPopup input, #newEquipmentPopup textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
}
input#newEquipmentGp, input#newEquipmentSp, input#newEquipmentCp {
  width: 2rem;
}