#content {
  padding: 0rem 0.5rem;
  max-width: 30em;
}

.space {
  width: 0.5rem;
}

.button {
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 120%;
  font-weight: bold;
  background: #ccc;
}

.button:hover {
  cursor: pointer;
  background: #eee;
}
