#content {
  max-width: 50rem;
}
h1, h3 {
  text-align: center;
  padding: 0.5rem;
  margin: 0rem;
}

table td {
  vertical-align: top;
}

.box {
  background: #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.boxTitle {
  background: #ccc;
  font-size: 120%;
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.button {
  background: #ccc;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  padding: 1rem;
}
.button:hover {
  cursor: pointer;
  background: #eee;
}

.space {
  width: 0.5rem;
}

input {
  font-size: 100%;
  border: none;
  margin: 0rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

#height, #weight {
  width: 5rem;
}

#characteristics {
  width: 30%;
}
.characteristic td {
  padding: 0.5rem;
}
.characteristic input {
  float: right;
  margin: 0rem;
  width: 12mm;
}
.characteristic>td>span {
  display: inline-block;
  padding-top: 0.1875rem;
}
.characteristic:nth-child(odd) {
  background: #eee;
}

#classChoice {
  margin: 0rem;
  width: 100%;
}
#classDescription {
  background: #eee;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#classDescription .description {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-style: italic;
}
#classDescription>table {
  table-layout: fixed;
}
#classDescription td {
  font-size: 80%;
}
#classDescription .box table td {
  padding: 0.25rem 0.5rem;
}
#classDescription .box table tr:nth-child(odd) {
  background: #eee;
}
td.right {
  text-align: right;
}

.abilityGroup {
  padding: 0.25rem;
  background: #ddd;
}
.abilityGroup caption {
  padding: 0.25rem 0.5rem;
  text-align: left;
  font-size: 90%;
  font-weight: bold;
}
.abilityGroup .right {
  width: 4.75rem;
}

#preferredWeapon {
  width: 100%;
  margin: 0rem;
}