#content {
  margin: 0rem 1rem;
  background: #ccc;
  padding: 0.25rem 0.5rem;
  min-width: 40rem;
}
#content h1 {
  text-align: center;
  font-size: 120%;
}
.mainHeader {
  padding: 0.5rem;
  text-align: left;
  width: 6rem;
}
.mainEntry {
  padding: 0.5rem;
}
#content>table tr:nth-child(even), #extraOptionsContainer>table tr:nth-child(even) {
  background: #ddd;
}
#content input, #content textarea, #content select {
  resize: none;
  border: none;
  width: 100%;
  margin: 0rem;
  padding: 0.25rem;
  background: #fff;
}
#addKiTechnique {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  background: #aaa;
}
#addKiTechnique:hover {
  background: #cce;
  cursor: pointer;
}

.effectContainer {
  padding: 0.5rem;
}

.addEffect, .removeEffect, .removeDisadvantage, .addAdvantage, .removeAdvantage {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: #aaa;
}
.addEffect:hover, .removeEffect:hover, .removeDisadvantage:hover, .addAdvantage:hover, .removeAdvantage:hover {
  background: #cce;
  cursor: pointer;
}

table.effectLevels {
  background: #fff;
}
table.effectLevels td, table.effectLevels th {
  text-align: center;
}
table.effectLevels input[type="radio"] {
  width: auto;
  height: auto;
}
table.effectLevels td.radio {
  width: 0.75rem;
  padding: 0.25rem 1rem;
}
.distributionInput {
  padding: 0.25rem;
}
.distributionHeader.disabled {
  color: #888;
}