html {
  background: #899099;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

#content {
  margin: auto;
  width: 200mm;
}

table {
  width: 100%;
  border: none;
  margin: 0mm;
  padding: 0mm;
  border-spacing: 0mm;
}
td {
  padding: 0mm;
}

.spendingOptionGroup {
  background: #ccc;
  padding: 2mm;
}
.spendingOptionGroup .header {
  padding: 1mm 6mm;
  font-size: 120%;
  font-weight: bold;
}

.spendingOptionSubgroup {
  background: #eee;
  padding: 2mm;
  margin-top: 2mm;
}

.dpInvestment {
  margin: 4mm;
}
.dpInvestment:nth-child(even) {
  background: #ccc;
}

.dpInvestment td:first-child, .dpInvestment th:first-child {
  padding: 2mm 4mm;
  text-align: left;
}

.dpInvestment .dpInvested {
  width: 20mm;
  padding: 0mm 1mm;
  text-align: center;
}

.dpInvestment input {
  width: 15mm;
  font-size: 100%;
}
.dpInvestment .score {
  width: 20mm;
  text-align: center;
}