.box {
  margin: 2mm;
  padding: 2mm;
  background: #ccc;
}

.spendingOptionGroup {
  background: #ccc;
}
.header {
  padding: 1mm 5mm;
  font-size: 110%;
  font-weight: bold;
  text-align: left;
}

.spendingOptionSubgroup {
  background: #eee;
  padding: 2mm;
  margin-top: 2mm;
}

.spendingOptionSubgroup tr {
  margin: 4mm;
}
.spendingOptionSubgroup tr:nth-child(even) {
  background: #ccc;
}

.spendingOptionSubgroup td:first-child, .spendingOptionSubgroup th:first-child {
  padding: 2mm 4mm;
  text-align: left;
}

.dpInvestment .dpInvested {
  width: 20mm;
  padding: 0mm 1mm;
  text-align: center;
}

.dpInvestment input {
  width: 15mm;
  font-size: 100%;
}
.dpInvestment .cost {
  width: 20mm;
  text-align: center;
}
.dpInvestment .score {
  width: 20mm;
  text-align: center;
}

.characteristicLevelBonusInvestment .characteristicLevelBonusesInvested {
  width: 40mm;
  padding: 0mm 1mm;
  text-align: center;;
}
.characteristicLevelBonusInvestment input {
  width: 15mm;
  font-size: 100%;
}
.characteristicLevelBonusInvestment .score {
  width: 20mm;
  text-align: center;
}
.characteristicLevelBonusInvestment .modifier {
  width: 20mm;
  text-align: center;
}

.secondaryAbilityLevelBonusInvestment .secondaryAbilityLevelBonusesInvested {
  width: 45mm;
  padding: 0mm 1mm;
  text-align: center;;
}
.secondaryAbilityLevelBonusInvestment input {
  width: 15mm;
  font-size: 100%;
}
.secondaryAbilityLevelBonusInvestment .score {
  width: 20mm;
  text-align: center;
}
.secondaryAbilityLevelBonusInvestment .modifier {
  width: 20mm;
  text-align: center;
}

.cpInvestment .cost {
  width: 20mm;
  text-align: center;
}
.cpInvestment .obtained {
  width: 30mm;
  padding: 0mm 1mm;
  text-align: center;
}
.cpInvestment th {
  font-size: 110%;
  font-weight: bold;;
}
